* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: var(--white);
    background: rgb(0, 0, 0);
}

.tooltip-inner {
    color: black;
    background-color: white;
}

/* nav */

.navbar {
    font-weight: 500;
    transition: all 1s ease-out;  
}

.logo {
    padding-right: 1rem;
    height: 2rem;
}

/* Carrusel */

.carousel {
    height: 100%
}

/* ¿Quiénes Somos? */

h4 {
    font-weight: 700;
    color: white;
    padding: 2rem;
}

.card {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
    min-height: 200px;
}

.iconos {
    text-align: center;
    background-color: rgb(15, 126, 126);
    color: white;
    font-size: 1.5rem;
}

.textoCard1 {
    font-weight: 400;
}

.titulocard1:hover {
    border-radius: 60%;
}

/* Destacados */

.cartas {
    background-color: rgb(15, 126, 126);
}

.titulocard2 {
    font-weight: 500;    
}

.textoCard2 {
    font-weight: 400;
}

/* Form */

form {
    color: white;
    margin-left: 6rem;
    margin-right: 6rem;
}

.lineaSeparadora {
    border-bottom: 1px solid rgba(104, 101, 101, 0.699);
    margin-bottom: 2rem;
}

.formTexto {
    font-weight: 500;
}

.botonEnviar {
    background-color: rgb(15, 126, 126);
    border-color: white;
}

.btn-primary:hover {
    color: white;
    border-color: white;
    background-color: rgb(13, 61, 65);
}

/* Footer */

footer {
    color: white;
    background-color: rgb(15, 126, 126);
}

.textViaje {
    font-weight: 700;
    padding-top: 1rem;
    font-size: large;
    color: white;
    font-style: ;
}

.msjFinal {
    font-weight: 400;
    padding-top: 1rem;
}

.rrss {
    color: white;
    font-size: 2.5rem;
}